#canvas {
  border: 2px solid black;
  text-align: center;
  width: 300px;
  border-radius: 7px;
  transform: rotateY(180deg);-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);
}

#re_btn_div {
  margin-top: -35px;
  margin-bottom: 15px;
  text-align: center;
  visibility: hidden;
}

#re_btn {
  background-color: white;
  padding: 3px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px grey;
}

.main button {
    text-align: right;
    position: relative;
}

#link_btn {
  display: block;
  cursor: pointer;
  width:220px;
  height:50px;
  line-height:50px;
  text-align:center;
  border:1px solid whitesmoke;
  font-size:20px;
  border-radius:10px;
  transition: all 0.2s ease;
  box-shadow: gray 2px 3px 3px;
  text-decoration: none;
  color: black;
  user-select: none;
}
.link_btn:hover {
  border: 1px solid #000000;
}
.link_btn:active {
  box-shadow: gray 1px 2px 3px inset;
}

#message {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ccc; /* 枠線 */
  background-color: #fff; /* 背景色 */
  box-shadow: 1px 1px 2px #ccc;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

#message_info {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.copy {
  float: right;
  display: flex;
}

#copy_text {
  margin: auto;
}

#copy_btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

body {
  scrollbar-width: none; /*Firefox対応のスクロールバー非表示コード*/  
}

body::-webkit-scrollbar {  
display: none; /*Google Chrome、Safari、Microsoft Edge対応のスクロールバー非表示コード*/
}