#canvas {
  border: 2px solid black;
  text-align: center;
  width: 300px;
  transform: rotateY(180deg);-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);
}

#re_btn_div {
  margin-top: -35px;
  text-align: center;
  display: none;
}

#re_btn {
  background-color: white;
  padding: 3px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px grey;
}

.main button {
    text-align: right;
    position: relative;
}

/* CSS */
#link_btn {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.link_btn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.link_btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.link_btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

#message {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ccc; /* 枠線 */
  background-color: #fff; /* 背景色 */
  box-shadow: 1px 1px 2px #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

#message_info {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.copy {
  float: right;
  display: flex;
}

#copy_text {
  margin: auto;
}

#copy_btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

body {
  scrollbar-width: none; /*Firefox対応のスクロールバー非表示コード*/  
}

body::-webkit-scrollbar {  
display: none; /*Google Chrome、Safari、Microsoft Edge対応のスクロールバー非表示コード*/
}